img {
  display: block;
  margin: auto;
  width: 25%;
  height: auto;
}
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav {
  background: linear-gradient(to right, #fff, #808080);
  border-color: #808080 2px;
  border-radius: 0;
}

nav a {
  color: #000;
  font-size: 125%;
  font-style: italic;
  font-family: Verdana, Geneva, sans-serif;
}
/*
nav a:visited, a:link {
  color: #fff;
}*/
nav a:hover {
  font-size: 150%;
  color: #fff;
  background-color: #ff1963;
}
nav a.active {
  font-size: 125%;
  color: #fff;
  background-color: #808080;
}
