.selected {
  background-color: #DDD !important;
  color: #000 !important;
  margin-left: 0.5em !important;
  margin-right: -0.5em !important;
}
.wishes {
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 15 em;
}
.wishes li {
  font-size: 110%;
  margin: 1em 0 1em 0;
  padding: 0.5em 0 0.5em 0;
  color: #fff;
  cursor: pointer;
  background: #808080;
  border-radius: 4px 4px 4px 4px;
}
.wishes li:hover {
  font-size: 120%;
  margin-left: 0.5em;
  margin-right: -0.5em;
  color: #808080;
  background-color: #DDD;
}
.serial {
  padding: 0.8em;
  background-color: #ff1963;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
.delete {
  color: #fff;
  font-weight: bold;
  margin-top: 0;
  float: right;
  border-radius: 0 4px 4px 0;
  background-color: #000;
  box-shadow: none;
}
h2 {
  color: #ff1963;
}
button {
  color: #000;
  background-color: #DDD;
}
button:hover {
  color: #000;
  background-color: #a9a9a9;
}
.delete:hover {
  background-color: #ff1963;
}
